etc
docs/wp-config.php
docs/wp-keys.php
docs/wp
docs/wp-plugins
docs/email/test_emails/*
docs/content/uploads/*
docs/content/advanced-cache.php
docs/content/cache/config/master.php
docs/content/plugins/akismet
docs/content/plugins/members
docs/content/plugins/polylang
docs/content/plugins/really-simple-captcha
docs/content/plugins/regenerate-thumbnails
docs/content/plugins/table-of-contents-plus
docs/content/plugins/w3-total-cache
docs/content/plugins/wonderm00ns-simple-facebook-open-graph-tags
docs/content/plugins/wordpress-importer
docs/content/plugins/wp-updates-notifier
docs/content/themes/twentyfifteen
docs/content/themes/twentyfourteen
docs/content/themes/twentythirteen
docs/content/themes/twentytwelve
docs/content/w3tc-config/master-admin.php
docs/content/w3tc-config/master.php
docs/.htaccess
logs
