.eff, .gv, .smex, .s-7iber, .access {
	background: url(../img/logos/sprites.png) no-repeat;
}

.eff{
	background-position: -470px -99px ;
	width: 50px;
	height: 34px;
}

.s-7iber{
	background-position: -389px -153px ;
	width: 95px;
	height: 35px;
}

.access{
	background-position: -259px -161px ;
	width: 113px;
	height: 26px;
}

.gv{
	background-position: -120px -153px ;
	width: 115px;
	height: 38px;
}

.smex{
	background-position: -6px -152px ;
	width: 103px;
	height: 40px;
}

@media screen and (max-width:1000px) {
	.eff{
		background-position: 0 -1px ;
		width: 100px;
		height: 68px;
	}
	`
	.gv{
		background-position: -96px 0;
		width: 230px;
		height: 75px;
	}

	.smex{
		background-position: -333px 0;
		width: 206px;
		height: 80px;
	}

	.s-7iber{
		background-position: 0 -77px ;
		width: 190px;
		height: 69px;
	}

	.access{
		background-position: -214px -93px ;
		width: 225px;
		height: 52px;
	}
}

